<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="container">
    <form method="POST">
        <h2 class="text-login" >LOGIN</h2>
        <div class="input-service-email">
            <input placeholder="Email" required type="email">
        </div>
        <div class="input-service-password">
            <input placeholder="Senha" required type="password">
        </div>
        <div class="cadast-link">
        Não possui conta? <a href="/cadastro">Criar uma conta</a>
        </div>
        <div class="submit-button">
<button type="submit"><b>LOGIN</b></button>
        </div>
    </form>
    </div>
</body>

</html>